<mat-card>
    <mat-card-title>
        {{title}}
        <!-- <mat-card-title-group>

        </mat-card-title-group> -->
    </mat-card-title>
   <!--  <mat-card-header>
        <mat-card>
            <ul *ngFor="let post of posts, let i = index">
                <li>
                    {{post.title}}
                </li>
            </ul>
        </mat-card>
</mat-card-header> -->
    <mat-card-content>
        <mat-grid-list cols="8" rowHeight="100px">
            <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field subscriptSizing="dynamic">
                    <input
                        matInput placeholder=""
                        [(ngModel)]="blogUrlSearchString"
                        name="search">
                    <button mat-icon-button matPrefix (click)="searchBlogs22()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button *ngIf="blogUrlSearchString.length > 0" matSuffix mat-icon-button
                        (click)="clearSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <!-- TODO:  DEBUG this mat-select for why it crashes the blogs page; infinite loop via binding on value? -->
        <!-- <mat-select [(value)]="selectedViewOption">
            <mat-option *ngFor="let option of viewOptions" [value]="option.key">{{option.value}}</mat-option>
        </mat-select> -->
            <!-- </div> -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/blog', element.blogId]">
                        {{element.blogId}}
                    </a>
                </td>
              </ng-container>

              <!-- Url Column -->
              <ng-container matColumnDef="url">
                  <th mat-header-cell *matHeaderCellDef>Url</th>
                  <td mat-cell *matCellDef="let element">
                      <a [href]="element.url" target="_blank" rel="noopener noreferrer">
                          {{element.url}}
                      </a>
                  </td>
                </ng-container>

                <!-- Delete -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="primary"
                            (click)="deleteBlog(element.blogId)">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <!-- Edit -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="primary"
                            (click)="selectBlogForEdit(element)">
                            Edit
                        </button>
                    </td>
                </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator #paginator
            [pageSizeOptions]="pageSizeOptions"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
        <mat-grid-list cols="8" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1" *ngIf="blog.blogId">
                <mat-form-field subscriptSizing="dynamic" style="margin-right:20px;">
                    <mat-label>Id</mat-label>
                    <input
                        matInput placeholder="Id"
                        [(ngModel)]="blog.blogId"
                        name="id" readonly>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1">
                <!-- <form> -->
                    <!-- <div layout="row" layout-align="center center"> -->
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Url</mat-label>
                        <input
                            matInput placeholder="Url"
                            [(ngModel)]="blog.url"
                            name="url">
                    </mat-form-field>
                <!-- </form> -->
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button (click)="update()" *ngIf="blog.blogId">Update</button>
                <button mat-button (click)="create()" style="margin-left:20px;">Create</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-footer>
</mat-card>
